.add-contact{
    width: 100%;
    padding: 20px;
    margin: 10px;
    text-align: -webkit-center;
}
.contact-form{
    width: 100%;
}

.add-contact-image{
width: calc(20% + 30px);
margin: 0 -16px 16px -16px;
}