
<div class="itemsCenter" style="min-width: 300px;">
    <div class="add-contact mat-elevation-z6">
      
        <div class="mat-display-1" style="margin: 20px 0px" *ngIf="ActionEvent == 'add' ">
              Add Contact
        </div>
        <div class="mat-display-1" style="margin: 20px 0px" *ngIf="ActionEvent == 'edit' ">
              Edit Contact
        </div>
            <form [formGroup]="contactService.contactform" >
              <input  style="display: none"
                formControlName="idFormControl"
              >
              <input   style="display: none"
                formControlName="photoFormControl"
              >
                 <div class="contact-picture mat-elevation-z3"
                 [ngStyle]="{ 'background-image': !(contactService.fileUrl) ? 'url(../../../assets/img/profile.png)' : 'url(' + contactService.fileUrl + ')'}"
                 >
                   <div class="contact-picture-add">
                    <input
                    style="display: none"
                    type="file"
                    accept="image/*"
                    (change)="onFileChanged($event)"
                    
                    #fileInput>
                     <button type="button" (click)="fileInput.click()" class="btn-picture-btn" mat-icon-button  >
                       <mat-icon class="icon-add">add_a_photo</mat-icon>
                      </button> 
                    </div>
                   </div> 
                           
                <div>
                  
                     <mat-form-field class="contact-form"  floatLabel="auto" hideRequiredMarker appearance="outline">
                        <mat-label>Full name</mat-label>
                        <input matInput 
                        formControlName="fullNameFormControl"
                        >
                        <mat-error *ngIf="contactService.formControls.fullNameFormControl.hasError('required')">
                          Full name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                     <mat-form-field class="contact-form"  floatLabel="auto" hideRequiredMarker appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput 
                        formControlName="emailFormControl"
                           
                          >
                        <mat-error *ngIf="contactService.formControls.emailFormControl.hasError('email') && !contactService.formControls.emailFormControl.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="contactService.formControls.emailFormControl.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                     </mat-form-field>

                     <mat-form-field class="contact-form"  floatLabel="auto" hideRequiredMarker appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input  matInput
                          formControlName="phoneFormControl"
                           
                            >
                        <mat-error *ngIf="contactService.formControls.phoneFormControl.hasError('pattern') && !contactService.formControls.phoneFormControl.hasError('required') ">
                          Please enter a valid phone number
                        </mat-error>
                        <mat-error *ngIf="contactService.formControls.phoneFormControl.hasError('minlength') && !contactService.formControls.phoneFormControl.hasError('pattern') && !contactService.formControls.phoneFormControl.hasError('required')">
                          Phone 08 character minimum
                        </mat-error>
                        <mat-error *ngIf="contactService.formControls.phoneFormControl.hasError('required')">
                          phone number is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>

                     <div class="button-add" *ngIf="ActionEvent == 'add' ">
                        <button class="submit-btn" mat-raised-button color="primary" type="submit" (click)="addContact()">Add</button>
                        <button class="reset-btn" mat-raised-button  color="warn" type="reset" (click)=" resetForm()"><mat-icon>refresh</mat-icon></button>
                     </div>
                     <div class="button-edit" *ngIf="ActionEvent == 'edit' ">
                        <button class="edit-btn" mat-raised-button type="button" (click)="editContact()">Edit</button>
                     </div>
                    </div>
                   
              </form>
        </div>
        <div *ngIf="loading" class="add-contact-loading mat-elevation-z2">
          <div class="spinnerLoading">
          <mat-spinner diameter="10" [diameter]="50"></mat-spinner>
           </div>
          </div>  
</div>
