
<div class="itemsCenter">
    <div class="add-contact mat-elevation-z5">
        <div class="mat-display-1" style="margin: 30px 0 15px;">
              New Contact
        </div>
                 <!-- <div style="background-color: blue;"><img class="add-contact-image" src="../../../assets/img/contact.png"></div>             -->
                <div>
                 <div class="contact-picture"
                 [style.background]="file">
                   <div class="contact-picture-add">
                    <input
                    style="display: none"
                    type="file"
                    accept="image/*"
                    (change)="onFileChanged($event)"
                    #fileInput>
                     <button  (click)="fileInput.click()" class="btn-picture-btn" mat-icon-button  >
                       <mat-icon class="icon-add">add_a_photo</mat-icon>
                      </button> 
                    </div>
                   </div> 
                 </div>          
                <div>
                  <form>
                     <mat-form-field class="contact-form"  floatLabel="auto" hideRequiredMarker appearance="outline">
                        <mat-label>Full name</mat-label>
                        <input matInput [formControl]="fullNameFormControl" required>
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                          Full name is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                     <mat-form-field class="contact-form"  floatLabel="auto" hideRequiredMarker appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput  [formControl]="emailFormControl" required>
                        <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                          Please enter a valid email address
                        </mat-error>
                        <mat-error *ngIf="emailFormControl.hasError('required')">
                          Email is <strong>required</strong>
                        </mat-error>
                        
                      </mat-form-field>
                     <mat-form-field class="contact-form"  floatLabel="auto" hideRequiredMarker appearance="outline">
                        <mat-label>Phone Number</mat-label>
                        <input  matInput  [formControl]="phoneFormControl" required>
                        <mat-error *ngIf="phoneFormControl.hasError('pattern') && !phoneFormControl.hasError('required')">
                          Please enter a valid phone number
                        </mat-error>
                        <mat-error *ngIf="phoneFormControl.hasError('required')">
                          phone number is <strong>required</strong>
                        </mat-error>
                      </mat-form-field>
                     <div class="button-add">
                        <button class="submit-btn" mat-raised-button color="primary">Add</button>
                     </div>
                     
                    </form>
                </div>
         
    </div>

   
</div>
