
 

<div class="tab-list-contacts mat-elevation-z8" id="scrollTab">
  <table mat-table [dataSource]="dataSource" >
   
     <!-- Photo Column -->
    <ng-container matColumnDef="photo">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <div>
          <div class="contact-picture"
             [ngStyle]="{ 'background-image': !fileurl
              ? 'url(../../../assets/img/profile.png)' 
              : 'url(' + fileurl + ')' }"
            >
           </div> 
                 </div> 
                 
                </td>
    </ng-container>
    

    <!-- Name Column -->
    <ng-container matColumnDef="fullName">
      <th mat-header-cell *matHeaderCellDef> Full Name </th>
      <td mat-cell *matCellDef="let element"> {{element.fullName}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="mail">
      <th mat-header-cell *matHeaderCellDef> Mail </th>
      <td mat-cell *matCellDef="let element"> {{element.mail}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th class="actionElement" mat-header-cell *matHeaderCellDef> 
       </th>
      <td class="actionElement" mat-cell *matCellDef="let element"> 
        
        <button class="Green" mat-stroked-button  matTooltip="Edit Contact" matTooltipPosition="left">Edit</button>
        <button class="Red" mat-stroked-button  matTooltip="Edit Contact"  matTooltipPosition="right">Delete</button>
       
      </td>
      
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"
    class="tab-list-contacts-row"
     ></tr>
    </table>
</div>