.navbar{
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    z-index: 2;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

span{
    padding-right: 1rem;
}

.backSpinner{
    background: #3f51b5;
}
mat-sidenav-container{
    height: calc(100% - 50px);
    top: 50px;
}

mat-sidenav, mat-sidenav-content{
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}

mat-sidenav{
    background-color: snow;
    width: 280px;
}

.uploader-status{
    text-align: center;
    color: #fafafa;
  }

.uploader-status ::ng-deep .mat-progress-spinner circle, .mat-spinner circle {
    stroke:#fafafa;
}