
/* mat-grid-tile{
    background-color: rgba(0, 0, 0, 0.01);
} */
mat-card{
    width: 100%;
    padding: 2rem;
}
app-list-contacts{
    width: 100%;
    padding: 1rem;
}
mat-grid-tile{
    height: calc(100% - 250px);
}
.list-Contacts-container{
    width: 100%;
    padding: 10px;
}
.button-add{
    width: 96%;
    text-align: right;
    padding-right: 30px;
    padding-top: 25px;
    z-index: 1000;
    position: absolute;
}
.button-close{
    width: 96%;
    padding-left: 35px;
    padding-top: 22px;
    z-index: 1000;
    position: absolute;
}
.icon-close
{
    width: 32px !important;
    height: 32px !important;
    line-height: 30px !important;
   
}
