<div  class="contactComponent" >
<mat-grid-list  [cols]="cols" rowHeight="645px"  gutterSize="10px" style="z-index: 2;">
    <mat-grid-tile colspan="2">
      <div class="list-Contacts-container">
          <section >
            <h1 class="mat-display-1" style="margin: 16px 0 0 30px; color: white; min-width: 800px;">Contacts List</h1>
          </section>
         <div *ngIf="cols != 3" class="button-add">
            <button mat-icon-button 
            class="mat-elevation-z2"
            matTooltip="Add New Contact"
            matTooltipPosition="above"
            (click)="openAdd()"
            ><mat-icon class="add-icon" color="primary">person_add</mat-icon></button></div>
            <app-list-contacts (outEvent)=" receiveCols($event)"></app-list-contacts>
      </div>
    </mat-grid-tile>
     <mat-grid-tile @flyInOut *ngIf="cols == 3">
     <div class="button-close">
      <button mat-icon-button 
      class="icon-close"
      matTooltip="close"
      matTooltipPosition="below"
      (click)="closeAdd()"
      color="accent"
      ><mat-icon >close</mat-icon></button>
    </div>
       <app-add-contact [ActionEvent]="ActionEvent" (outEvent)=" receiveColsClose($event)"></app-add-contact>
  </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="contactBgr2"></div>