
    <div>
        <span routerLink= "/home"> <button mat-button ><samp class="mat-body-2">Home</samp></button></span>
        
        <span >
            <span class="mat-body-2">{{user?.displayName}}</span>
            <button
             mat-mini-fab
             class="profile"
             color="primary"
             [ngStyle]="{'background-image':'url('+user?.photoURL+')'}"
             [matMenuTriggerFor]="menu">
            </button>

        </span>
        
    </div>
    <mat-menu #menu="matMenu" xPosition="before" yPosition="below">
        <div class="profileData">
            <div class="profile-Pic-content">
            <div class="profile-picture mat-elevation-z5 "
                 [ngStyle]="{ 'background-image': 'url('+user?.photoURL+')'}"
                  >
            </div>
            </div>
            <div class="name">
                <div class="accountIcon"
                [ngStyle]="{ 'background-image': 'url('+getUrl()+')'}"
              id="contactPic"
              >
           </div>{{user?.displayName}}</div>
            <div class="email">{{user?.email}}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="logout">
            <button class="buttonLogout" (click)=" logout()"  mat-flat-button>Sign out<div class="logoutIcon"></div></button>
         </div>
    </mat-menu>
     