<div class="container">
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="fill">
        <mat-label>Name</mat-label>
        <input matInput required>
        <mat-hint align="end"> Min 5 characters</mat-hint>
    </mat-form-field>
<br>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput required>
        <mat-hint align="end"> Min 5 characters</mat-hint>
    </mat-form-field>
<br>
    <mat-form-field floatLabel="auto" hideRequiredMarker appearance="outline" color="warn">
        <mat-label>Name</mat-label>
        <input matInput required>
        <mat-hint align="end"> Min 5 characters</mat-hint>
    </mat-form-field>
  
  </div>