
     <div class="styleHome1">
     <div class="mat-display-2" style="color:#fafafa;font-weight: 300;margin: 0 0 0px;">Welcome To My first Angular Material Project</div>
     <div class="mat-display-1" style="color:#fafafa;font-weight: 300;margin: 0 0 0px;">Authentication with firebase</div>
     <div><img src="../../../../assets/img/angular.png" height="42" width="42"><img src="../../../../assets/img/firebase.png" alt="Smiley face" height="42" width="42"></div>
      <div class="mat-subheading-2" style="color:#fafafa;font-weight: 300;">Realised by Marwen Bannour</div>
     </div>
    
   
  
