<div class="container">
<div class="mat-display-3">Button Component</div>
<div>
    mat-button: <button mat-button>hello</button>
    mat-raised-button: <button mat-raised-button>hello</button>
    mat-flat-button: <button mat-flat-button>hello</button>
    mat-stroked-button: <button mat-stroked-button>hello</button>
    </div>
    <div>
    mat-icon-button: <button mat-icon-button>hello</button>
    mat-fab: <button mat-fab>hello</button>
    mat-mini-fab: <button mat-mini-fab>hello</button>
    </div>
    
    <div>
      mat-button primary: <button color="primary" mat-button>hello</button>
      mat-button accent: <button color="accent" mat-button>hello</button>
      mat-button warn: <button color="warn" mat-button>hello</button>
    </div>
    <div>
      mat-raised-button primary<button color="primary" mat-raised-button>hello</button>
      mat-raised-button accent<button color="accent" mat-raised-button>hello</button>
      mat-raised-button warn<button color="warn" mat-raised-button>hello</button>
    </div>
    <div>
      mat-flat-button primary<button color="primary" mat-flat-button>hello</button>
      mat-flat-button accent<button color="accent" mat-flat-button>hello</button>
      mat-flat-button warn<button color="warn" mat-flat-button>hello</button>
    </div>
    <div>
      mat-stroked-button primary<button color="primary" mat-stroked-button>hello</button>
      mat-stroked-button accent<button color="accent" mat-stroked-button>hello</button>
      mat-stroked-button warn<button color="warn" mat-stroked-button>hello</button>
    </div>
    <div>
      mat-icon-button primary: <button color="primary" mat-icon-button>hello</button>
      mat-icon-button accent: <button color="accent" mat-icon-button>hello</button>
      mat-icon-button warn: <button color="warn" mat-icon-button>hello</button>
    </div>
    <div>
      mat-fab primary: <button color="primary" mat-fab>hello</button>
      mat-fab accent: <button color="accent" mat-fab>hello</button>
      mat-fab warn: <button color="warn" mat-fab>hello</button>
    </div>
    <div>
      mat-mini-fab primary<button color="primary" mat-mini-fab>hello</button>
      mat-mini-fab accent <button color="accent" mat-mini-fab>hello</button>
      mat-mini-fab warn<button color="warn" mat-mini-fab>hello</button>
    </div>
  </div>