<div class="container">
<div class="mat-display-3">Badge Component</div>

<div>
    <span matBadge="5">notification</span>
</div>
above after
<div>
    
    <span matBadge="5" matBadgePosition="above after" >notification</span>
</div>
above before
<div>
    
    <span matBadge="5" matBadgePosition="above before" >notification</span>
</div>
below before
<div>
    
    <span matBadge="5" matBadgePosition="below before">notification</span>
</div>
below after
<div>
    
    <span matBadge="5" matBadgePosition="below after" >notification</span>
</div>
matBadgeSize="small"
<div>
    <span matBadge="5" matBadgeSize="small">notification</span>
</div>
matBadgeSize="medium"
<div>
    <span matBadge="5" matBadgeSize="medium">notification</span>
</div>
matBadgeSize="large"
<div>
    <span matBadge="5" matBadgeSize="large">notification</span>
</div>
matBadgeColor="primary"
<div>
    <span matBadge="5" matBadgeColor="primary">notification</span>
</div>
matBadgeColor="accent"
<div>
    <span matBadge="5" matBadgeColor="accent">notification</span>
</div>
matBadgeColor="warn"
<div>
    <span matBadge="5" matBadgeColor="warn">notification</span>
</div>
matBadgeOverlap="false"
<div>
    <span matBadge="5" matBadgeColor="warn" matBadgeOverlap="false">notification</span>
</div>
[matBadge]="notification" [matBadgeHidden]="notification==0"
<div>
    <span [matBadge]="notification" [matBadgeHidden]="notification==0" matBadgeColor="warn" matBadgeOverlap="false">notification</span>
</div>
</div>