<mat-nav-list class="sideNav" id="scrollSideNav">
    <h3 mat-subheader>Components</h3>

    

    <mat-list-item routerLink= "/home/typography">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Typography</h4>
      <p mat-line> Typography component </p>
    </mat-list-item>
   
    <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/button">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Button</h4>
      <p mat-line> Button component </p>
    </mat-list-item>

     <mat-divider></mat-divider>

    
    <mat-list-item routerLink= "/home/button-toggle">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Button Toggle</h4>
      <p mat-line> Button Toggle component </p>
    </mat-list-item>

     <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/badge">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Badge</h4>
      <p mat-line> Badge component </p>
    </mat-list-item>

     <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/icon">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Icon</h4>
      <p mat-line> Icon component </p>
    </mat-list-item>
     <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/progress-spinner">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Progress Spinner</h4>
      <p mat-line> Progress Spinner component </p>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/grid-list">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Grid list</h4>
      <p mat-line> Grid List component </p>
    </mat-list-item>
    
  
    <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/expansion-Panel">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Expansion Panel</h4>
      <p mat-line> Expansion Panel component </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/cards">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Cards</h4>
      <p mat-line> Card component </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/tabs">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Tabs</h4>
      <p mat-line> Tabs component </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/stepper">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Stepper</h4>
      <p mat-line> Stepper component </p>
    </mat-list-item>
    <mat-divider></mat-divider>

    <mat-list-item routerLink= "/home/input">
      <mat-icon mat-list-icon>folder</mat-icon>
      <h4 mat-line>Input</h4>
      <p mat-line> Input component </p>
    </mat-list-item>
    
  </mat-nav-list>