<div @searchEnterLeave class="ModalsContact">

  
  <div class="picture-content1">
    <div class="picture-content">
      <div class="contact-picture mat-elevation-z5 "
         [ngStyle]="{ 'background-image': !contactService.fileUrl ? 'url(../../../assets/img/profile.png)' : 'url(' + contactService.fileUrl + ')'}"
                  >
      </div>
   </div>
  </div>
  
 
 <div class="content">

  <div class="picture-content2"></div>
  
  <div class="mat-display-2 fullNameStyle">
    {{data.contact.fullName}}
  </div>

<div class="data-content">

  <div class="mail">
  <div class="mat-title">
   <mat-icon>email</mat-icon> mail address
  </div>
  <div class="mat-subheading-2 mail"> 
      {{data.contact.mail}}
  </div>
 </div>
 <div class="phone">
  <div class="mat-title">
   <mat-icon>phone</mat-icon> phone Number
 </div>
 <div class="mat-subheading-2 phone"> 
   {{data.contact.phone}}
</div>
</div>
</div>

</div>
</div>